body {
	margin: 70px 0 0 0;
	transition: 0.3s;
}
h2 {
	margin: 2em 0 0.5em 0;
	font-size: medium;
}
button {
	padding: 5px 10px;
	color: white;
	font-weight: bold;
	background-color: dodgerblue;
	border: none;
	border-radius: 4px;
	box-shadow: 0 0 2px 2px #00000020;
	cursor: pointer;
}
button:not(:disabled):active {
	filter: brightness(0.8);
}
button:disabled {
	background-color: darkgray;
	cursor: not-allowed;
}
.checkbox_area {
	display: flex;
	align-items: center;
}
.checkbox_area > label {
	margin-left: 0.5em;
}
.big_button {
	padding: 10px 100px;
	font-size: large;
}
.warning_button {
	background-color: firebrick;
}
.question_icon {
	position: relative;
}
.question_icon::before {
	content: "?";
	display: inline-block;
	width: 1.2em;
	height: 1.2em;
	margin: 0 0.5em;
	text-align: center;
	line-height: 1.2em;
	border: solid 1px darkgray;
	border-radius: 50%;
	user-select: none;
	cursor: help;
}
.question_icon > * {
	position: absolute;
	width: max-content;
	padding: 5px 10px;
	bottom: 20px;
	border: solid 1px darkgray;
	border-radius: 6px;
	background-color: white;
	box-shadow: 0 0 2px 2px #00000020;
	opacity: 0%;
	transition: 0.3s;
	pointer-events: none;
}
.question_icon:hover > * {
	opacity: 100%;
}
.hidden {
	display: none !important;
}
.footer_space {
	margin-bottom: 80px;
}
#header {
	position: fixed;
	display: flex;
	align-items: center;
	top: 0;
	left: 0;
	width: 100%;
	padding: 10px 0;
	border-bottom: 1px solid darkgray;
	background-color: lightgray;
	box-shadow: 0 0 5px 5px #00000020;
	z-index: 2;
}
#header > img {
	width: 30px;
	height: 30px;
	margin-left: 50px;
}
#header > h1 {
	margin: 0 0 0 10px;
	font-weight: lighter;
}
#process_dialog {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #00000080;
	z-index: 2;
}
#process_dialog > p {
	position: fixed;
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 10em;
	margin: 0;
	padding: 10px;
	top: 100px;
	left: 50%;
	transform: translateX(-50%);
	font-size: large;
	font-weight: bold;
	border: solid 1px gold;
	border-radius: 5px;
	background-color: lemonchiffon;
	box-shadow: 0 0 5px 5px #00000020;
}
body > ol {
	counter-reset: section-1;
}
body > ol > li {
	counter-increment: section-1;
}
body > ol > li::marker, body > ol > li > p:first-child {
	font-size: large;
}
ol > li:first-child > p:first-child {
	margin-top: 0;
}
body > ol > li > ol {
	counter-reset: section-2;
}
body > ol > li > ol > li {
	counter-increment: section-2;
}
body > ol > li > ol > li::marker {
	content: counter(section-1) "-" counter(section-2) ". ";
}
body > ol > li > ol > li::marker, body > ol > li > ol > li > p:first-child {
	font-size: larger;
}
ul {
	margin-top: 1em;
}
ul > li {
	list-style: disc;
}
#image_selector {
	display: flex;
	width: calc(100% - 60px);
	height: 200px;
	padding: 10px;
	border: solid 2px darkgray;
	overflow-x: scroll;
}
#image_selector > p {
	width: 100%;
	margin: auto;
	color: lightgray;
	font-size: 64px;
	text-align: center;
	line-height: 64px;
	user-select: none;
}
#image_selector > div {
	height: 180px;
	margin-right: 10px;
}
#image_selector > div {
	position: relative;
	cursor: pointer;
}
#image_selector > div > img:hover {
	filter: brightness(0.5);
}
#image_selector > div:hover::before {
	content: "x";
	position: absolute;
	width: 48px;
	height: 48px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: xx-large;
	font-weight: bold;
	text-align: center;
	border-radius: 24px;
	background-color: black;
	z-index: 1;
	pointer-events: none;
}
#image_selector > div > img {
	height: 100%;
}
#image_addition_area {
	display: flex;
	flex-direction: column;
	width: calc(100% - 36px);
	margin-top: 20px;
}
#image_addition_tabs {
	display: flex;
	overflow: scroll;
}
#image_addition_tabs::-webkit-scrollbar {
	display: none;
}
#image_addition_tabs > p {
	flex-grow: 2;
	min-width: 10em;
	margin: 0;
	padding: 10px 0;
	text-align: center;
	border-bottom: solid 2px darkgray;
	box-sizing: border-box;
	cursor: pointer;
}
#image_addition_tabs > p.warning_border {
	border-bottom: solid 2px lightcoral !important;
}
#image_addition_tabs > p:last-child {
	flex-grow: 1;
	color: darkred;
}
#image_addition_tabs > p:hover {
	text-decoration: underline;
}
.active_tab {
	font-weight: bold;
	border: solid 2px darkgray;
	border-bottom: none !important;
	background-color: whitesmoke;
}
#image_addition_tabs > p:last-child.active_tab {
	border-color: lightcoral;
	background-color: mistyrose;
}
.warning_border {
	border-color: lightcoral !important;
}
#image_addition_tab_area {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 50px 0;
	border: solid 2px darkgray;
	border-top: none !important;
	overflow: scroll;
	white-space: nowrap;
}
#image_addition_tab_area > div {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
}
.image_addition_tab_text {
	margin-bottom: 50px;
	text-align: center;
}
#image_addition_tab_area > div:last-child > p > span:first-child {
	color: darkred;
	font-size: xx-large;
	font-weight: bold;
}
#all_clear_confirm_area {
	margin-top: 50px;
	padding: 20px 100px;
	border: solid 2px lightcoral;
	border-radius: 20px;
	background-color: mistyrose;
	box-shadow: 0 0 2px 2px #00000020;
}
#all_clear_confirm_area > p {
	color: darkred;
}
#all_clear_confirm_area > p > span:first-child {
	margin-right: 0.25em;
	color: lightcoral;
	font-size: xx-large;
}
#style_area {
	display: flex;
}
#preview_area {
	display: flex;
	flex-direction: column;
}
#preview_frame {
	position: relative;
	width: 480px;
	height: 270px;
	border: solid 12px;
	border-color: dimgray royalblue royalblue dimgray;
}
#frame_right {
	position: absolute;
	width: 12px;
	height: calc(100% + 12px);
	right: 0;
	transform: translate(12px, -12px);
	cursor: ew-resize;
}
#frame_bottom {
	position: absolute;
	width: calc(100% + 12px);
	height: 12px;
	bottom: 0;
	transform: translate(-12px, 12px);
	cursor: ns-resize;
}
#frame_right::before, #frame_bottom::before {
	content: "";
	position: absolute;
	width: 12px;
	height: 12px;
	background-color: royalblue;
}
#frame_right_bottom {
	position: absolute;
	width: 12px;
	height: 12px;
	right: 0;
	bottom: 0;
	transform: translate(12px, 12px);
	cursor: nwse-resize;
}
#sample_search_page {
	display: flex;
	flex-direction: column;
	height: calc(100% - 10px);
	padding: 10px 0 0 clamp(10px, calc(100% - 328px), 70px);
	font-size: smaller;
	overflow: scroll;
	user-select: none;
}
#sample_search_page * {
	flex-shrink: 0;
}
#sample_search_page > div:first-child {
	display: flex;
	width: fit-content;
	border-radius: 1em;
	box-shadow: 0 2px 5px 1px rgba(64, 60, 67, 0.16);
	overflow: hidden;
}
#sample_search_page > div:first-child > p {
	margin: 0;
}
#sample_search_page > div:first-child > p:first-child {
	width: 150px;
	padding-left: 10px;
	color: darkgray;
	background-color: white;
}
#sample_search_page > div:first-child > p:last-child {
	width: 40px;
	text-align: center;
	background-color: royalblue;
}
#sample_search_page > div:last-child {
	display: flex;
}
#sample_search_page > div:last-child > div:first-child {
	display: flex;
	flex-direction: column;
	width: 200px;
}
#sample_search_page > div:last-child > div:first-child p:first-child {
	margin-bottom: 0;
	color: mediumblue;
}
#sample_search_page > div:last-child > div:first-child p:last-child {
	margin: 0.5em 0 0 0;
	color: dimgray;
}
#sample_search_page > div:last-child > div:first-child > div:last-child > p:last-child {
	margin-bottom: 1em;
}
#sample_search_page > div:last-child > div:last-child {
	width: 101px;
	height: fit-content;
	margin: 1em 0 0 5px;
	padding: 4px;
	border: solid 1px lightgray;
	border-radius: 4px;
	background-color: white;
}
#sample_search_page > div:last-child > div:last-child > div:first-child {
	position: relative;
	display: flex;
}
#sample_search_page > div:last-child > div:last-child h1 {
	margin: 0;
	font-size: small;
}
#sample_search_page > div:last-child > div:last-child > div:first-child > div:first-child > p {
	margin: 0;
}
#sample_search_page > div:last-child > div:last-child > div:first-child > div:last-child {
	flex-shrink: initial;
	width: 100%;
	margin-left: 5px;
	background-color: gold;
}
#sample_search_page > div:last-child > div:last-child > div:last-child {
	display: flex;
	justify-content: space-between;
}
#sample_search_page > div:last-child > div:last-child > div:last-child > div {
	display: flex;
	flex-direction: column;
	align-items: center;
}
#sample_search_page > div:last-child > div:last-child > div:last-child > div > div {
	width: 15px;
	height: 25px;
	background-color: gold;
}
#sample_search_page > div:last-child > div:last-child > div:last-child > div > p {
	margin: 0;
	color: mediumblue;
}
#image_change {
	display: flex;
	align-items: center;
	margin: 20px;
}
#image_position {
	margin: 0 20px;
}
#style_settings {
	min-width: fit-content;
	margin: -2em 0 0 40px;
}
#background_opacity_area {
	display: flex;
}
#background_opacity_area > p {
	margin-left: 10px;
	color: goldenrod;
}
#background_opacity_area > p.hidden {
	display: unset !important;
	opacity: 0%;
	user-select: none;
}
#background_opacity_area > p > span:first-child {
	margin-right: 0.25em;
	font-size: large;
}
#expand_align_grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}
#footer {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 50px;
	width: calc(100% - 100px);
	height: 48px;
	bottom: 0;
	left: 0;
	transform: translateY(0%);
	border-top: 1px solid darkgray;
	background-color: white;
	box-shadow: 0 0 5px 5px #00000020;
	transition: 0.3s;
	z-index: 1;
}
#footer > p {
	font-size: large;
}
#footer.hidden {
	display: flex !important;
	transform: translateY(125%);
}
#footer:not(.hidden) {
	animation: footer-slide-in 0.9s;
}

@keyframes footer-slide-in {
	33% {
		background-color: white;
	}
	67% {
		background-color: gold;
	}
	100% {
		background-color: white;
	}
}