.imgAnsbg/* 画像一覧（一般検索に出てくる方） */, .itmicon/* 動画検索 ビデオの参照元 アイコン */ {
	background: transparent !important;
}
#vrp_tvs/* 動画検索 作品説明 */ {
	background-color: transparent;
}
body, .no_image, .img_cont, .img_uhd, .hp_top_cover/* トップページ */, #ent-car-exp/* さらに表示 */, .b_wfrcell/* レシピ一覧 */, .b_algo/* 検索結果 */, .tab-head div, .tab-menu li/* サイト内説明 タブ */, .pageRecoContainer/* 関連ページを探索する。 */, .sa_titlePane/* ショッピングタイトル */, .b_msg/* 一部の検索結果が削除されました */, .b_ans/* 関連する結果 */, footer/* フッター */, #b_header/* 画像検索 ヘッダー */, #rfPane/* 画像検索 ヘッダーと画像一覧の間の隙間 */, .dg_b/* 画像検索 画像一覧 背景 */, .sel/* 動画検索 すべてのビデオを見る */, .carousel-controls, #rfCarousel > div > div > div > div > ol /* 動画検索 タグ一覧 */, .dg_u/* 動画検索 検索結果 */, .br-pdInfo/* ショッピング 説明欄 */, #btf_content/* ショッピング 関連検索 */, .br_slug/* ショッピング 詳細 (i) */ {
	background-color: transparent !important;
}
.algoSlug_icon/* 検索結果 ページの種類 ウェブ */, .b_adSlug/* 検索結果 ページの種類 広告 */, .sl_item/* 広告リスト サブボタン */, .dlCollapsedCnt > div > ul > li:hover/* サイト内検索 */, .slide/* ストリーミングカード */, .b_insideSlide/* サイト内スライド */, .df_alsoAskCard/* 他の人はこちらも質問 */, #placeAnswer/* その場所について */, .lite-entcard-main, .lite-entityv2-main/* 説明カード */, .b_cbContainer/* 語句の定義 */, .disambig-outline/* 結果を見る */, .pa_hCard/* 広告商品リスト */, .wpvn_ala/* 「関連する結果」の中身 */, .richrswrapper/* 「関連キーワード」の中身 */ {
	background-color: white;
}
.b_algo.b_algoBorder/* 枠付き検索結果1 */, .b_ans.b_top.b_topborder/* Bing翻訳 */, .lgb_ans/* マップ */, .b_ans.b_nwsAns/* ニュース */, .b_ans.b_imgans/* 画像 */, .b_algo.b_algoBigWiki/* Wikipedia */, .b_ans.b_nonfirsttopb/* 短いサイトプレビュー */ {
	background-color: white !important;
}
.wide_wideAlgo/* YouTubeサムネイル */, .iuscp, .infopt/* 画像検索 画像一覧 */, .news-side-nav.dsncn:hover/* ニュース サイドバー */ {
	background-color: transparent !important;
	box-shadow: none !important;
}
#wfrCarousel/* レシピ一覧 非表示部の線 */, .tab-head/* サイト説明 タブ */ {
	border-bottom: none !important;
}
.b-conclfb-container > svg/* この回答は役に立ちましたか？ 矢印 */, .openans_gradient_div/* はみ出たスライドの白いグラデーション */ {
	display: none;
}
/* バナータイトル */
.ent-dtab-ovr {
	background-color: transparent !important;
	border: none !important;
}
/* バナー */
.b_wpTabsWrapper, .ent-dtab-content, .ent-dtab-style-content {
	background-color: transparent !important;
	border-bottom: none !important;
}
/* 画像一覧 白いバリを削除 */
.wfr_cells div {
	border-radius: 6px;
}
/* 画像一覧 非表示部のグラデーション */
.wfr_sm::before, .wfr_sms {
	display: none !important;
}
/* この回答は役に立ちましたか？（ガバガバBingに代わって修正） */
.b-conclfb-container {
	width: 100%;
}
/* この回答は役に立ちましたか？ 本文 */
.b-conclfb-container span::before {
	content: " ↑ ";
}
/* この回答は役に立ちましたか？ はい/いいえ */
.b-fbbtn-container {
	margin: 0 !important;
}
/* マップ1 */
#lMapContainer, .mt_mop {
	background-color: white;
	border-radius: 6px;
}
/* マップ本体 */
#dynamicMap_2, .MicrosoftMap div {
	border-radius: 6px 6px 0 0;
}
/* 枠付き検索結果2 */
#serpvidans {
	padding: 15px 19px;
	background-color: white;
	border-radius: 6px;
	box-shadow: 0 0 0 1px rgba(0,0,0,.05);
}
/* 枠付き検索結果 タイトルとリンク */
.btitle, .b_attribution {
	margin-left: 20px;
}
/* 画像で--を探す */
.rel_ent_w {
	border-radius: 0 0 6px 6px;
}
/* 動画 大きいサムネイル */
.videoPlayer, .video_metadata_container {
	width: 100% !important;
}
/* 説明カード ヘッダーのグラデーションを出す */
.l_ecrd_imcolheader {
	z-index: 1;
}
/* 画像検索 タグ一覧 スクロールボタン */
#rfCarousel div .nav_container {
	height: 48px !important;
	background-color: lightgray !important;
	border: solid 1px gray !important;
}
/* 画像検索 タグ一覧 スクロールボタン 左矢印 */
#rfCarousel div .nav_left div::before {
	margin-left: 1px !important;
}
/* 画像検索 タグ一覧 スクロールボタン 右矢印 */
#rfCarousel div .nav_right div::before {
	margin-right: 1px !important;
}
/* 画像検索 画像一覧 画像 */
.img_cont {
	border-radius: 6px !important;
	box-shadow: 0 0 0 1px rgba(0,0,0,.05);
}
/* 画像検索 画像一覧 画像の説明 */
.img_info {
	border-radius: 0 0 6px 6px !important;
}
/* 動画検索 タグ一覧1 */
#rfCarousel {
	background: transparent;
}
/* 動画検索 作品説明の白いグラデーション */
.vrp_tvs_attr_mmftb::after, .vrp_tvs_des_mmftb::after, .vrp_tvs_title_mmftb:after {
	background: transparent !important;
}
/* ニュース 検索結果 */
.newsitem {
	box-shadow: none !important;
}
/* ショッピング 商品カード */
.br-card {
	background-color: transparent !important;
	border-radius: 6px !important;
}
.br-card:hover {
	background-color: white !important;
	transition: .3s .2s !important;
}
/* ショッピング 商品画像の角丸削除 */
.br-pdMainImg {
	border-radius: 6px !important;
}
/* サイドパネル再表示ボタン */
.background_image_injector_show_side_panel_button {
	color: #444;
}