.custom_page_background_bing_popup {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    padding: 10px;
    bottom: 10px;
    right: 10px;
    border: solid 1px darkgray;
    border-radius: 6px;
    background-color: white;
	box-shadow: 2px 2px 5px 2px #00000040;
    z-index: 1;
}
.custom_page_background_bing_popup p {
    margin: revert;
}
.custom_page_background_bing_popup button {
    margin: 0 5px;
    padding: 10px 100px;
	color: white;
	font-weight: bold;
	border: none;
	border-radius: 4px;
	background-color: dodgerblue;
	box-shadow: 0 0 2px 2px #00000020;
	cursor: pointer;
}
.custom_page_background_bing_popup > div:first-child {
    display: flex;
    align-items: center;
}
.custom_page_background_bing_popup > div:first-child > img {
    width: 32px;
    height: 32px;
}
.custom_page_background_bing_popup > div:first-child > p {
    margin: 0 0 0 10px;
    font-weight: bold;
}