:root {
	--background-color: white;
}

#pTwnEc/* タブ */, #fbar/* フッター */, #appbar/* 約--件（0.--秒） */, #kO001e/* 画像検索 上部検索バー */ {
	background-color: transparent;
}
.c93Gbe/* トップページ フッター */, .sfbg/* 上部検索バー */, .Ww4FFb/* 日本語の検査結果のみ表示します */, .wDYxhc/* Google翻訳 */, .XzTjhb/* 強調スニペット */, .zRQJhd/* 電卓 */, .g/* 検索結果 */, .zf84ud/* Twitter */, .FalWJb /* 書籍一覧 */, .vZFyxc/* サイズで絞り込む */, .KcXNxb/* ナレッジパネル 詳細 */, .rl_item/* 曲のプレイリスト */, .s8GCU/* 画像検索 ヘッダー背景 */, .ECgenc, .qcTKEe/* 画像検索 検索ツール */, .jZWadf/* 画像検索 タブ */, .zehhyb/* ショッピング 現在位置 */, .U3A9Ac/* ショッピング スポンサーラベル */, .dkw61e/* ショッピング 「この結果について」 */ {
	background-color: transparent !important;
}
.j1iyq/* Google翻訳 言語ボタン */, .TIGsTb/* 電卓 計算結果 */, .PCpHt/* ホテル予約人数 */, .Z2nCcc/* ホテルリスト */, .ZZ7G7b/* 画像検索 上部関連キーワード */, .iPukc/* 画像検索 中間関連キーワード */, .sh-dr__g/* ショッピング フィルター */ {
	background-color: var(--background-color);
}
.minidiv > .sfbg/* 上部検索バー（ヘッダー） */, .AUiS2/* 他の人はこちらも検索 */, .BwMo1/* サイト内検索 検索ボタン */, .DU1Mzb/* 画像検索 上部検索バー（ヘッダー） */ {
	background-color: var(--background-color) !important;
}
.IxCT4b/* ショッピング 上部の線 */ {
	display: none;
}
.v7ex9d/* 観光地情報 */ {
	display: none !important;
}
.t2vtad/* 一般検索 ツールボタン */, .ZXJQ7c/* 画像検索 ツールボタン */ {
	background: transparent !important;
	border: none !important;
	box-shadow: none !important;
}
.t2vtad:hover, .ZXJQ7c:hover {
	color: black;
}
.hdtb-tl-sel/* 一般検索 ツールボタン （押した時） */, .XD1Bsc/* 画像検索 ツールボタン （押した時） */ {
	font-weight: bold;
}
.ArOc1c/* ショッピング 商品画像 */ {
	border-radius: 8px;
	overflow: hidden;
}
.H9lube/* サイトアイコン */, .i0X6df/* ショッピング リスト */ {
	background-color: transparent !important;
	border: none !important;
}
/* Google翻訳 原文入力欄 */
#KnM9nf {
	background-color: var(--background-color);
	border-radius: 8px;
}
/* Google翻訳 原文入力欄 クリアボタン */
#tw-cst {
	transform: translateX(-10px);
}
.WeviRb, .SUgb2e/* 右矢印のボタン */, .zLPF4b/* ショッピング 情報の区切り */ {
	border: none !important;
}
/* サイドパネル再表示ボタン */
.background_image_injector_show_side_panel_button {
	color: #4d5156;
}