
/* ヘッダー */
header {
	background-color: transparent !important;
}
/* 「ツール」タブ */
.sw-Expand__button {
	background-color: transparent !important;
}
/* メイン背景 */
#contents {
	background-color: transparent !important;
}
/* 検索結果 */
.sw-CardBase:not(.sw-CardBase--shadow) {
	background-color: transparent !important;
}
/* 画像タグの展開ボタン */
.sw-Chips__expandTrigger {
	background-color: white !important;
}
/* Yahoo!ショッピング カルーセル 背景 */
.sw-Carousel__listItem {
	padding: 17px 16px 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
}
.sw-Carousel__listItemLink .sw-Carousel__info {
	padding: none !important;
}
/* Yahoo!ショッピング 優良配送 */
.AnswerSPRO__goodDeliveryTrigger {
	background-color: transparent !important;
}
/* 関連項目 矢印 */
.sw-Icon--product_navigate_next {
	display: none !important;
}
/* 検索ページ番号 */
.Pagenation__page a, .Pagenation__next a, .Pagenation__prev a {
	border-radius: 4px;
}
/* フッター */
footer {
	background-color: transparent !important;
}
/* フッター 検索バー */
.Footer__space--searchBox {
	background-color: transparent !important;
}